.footer {
  display: flex;
  justify-content: center;
  min-height: 5vh;
  width: 100%;
}

.divTooltipFooter {
  width: 600px;
  height: 100px;

  background-color: #b9fc1dce;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  /* margin: 25px; */
}
