.head {
  display: flex;
  min-height: 5vh;
}

.title {
  margin: 0;
  padding: 0;
  color: #eaeaea;
}

@media (max-width: 640px) {
  .title {
    font-size: 1.65em;
    font-weight: bolder;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 1em;
    font-weight: bolder;
  }
}
