.howToPlayDiv {
  margin: 5px;
}

.divTooltip {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100px;

  background-color: rgba(252, 181, 29, 0.646);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
