li {
  margin: 25px;
}

.howToPlayDiv {
  margin: 5px;
  font-style: italic;
  color: lightgrey;
}

.divTooltipInstructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;

  background-color: rgba(252, 181, 29, 0.846);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.instructions {
  margin: 20px;
}

.list {
  margin: 20px;
}

.listTitle {
  font-weight: bold;
}

.zeroMs {
  font-family: "DSEG7 Classic";
}

@media (max-width: 640px) {
  .divTooltipInstructions {
    width: 400px;
    height: 300px;
    font-size: 0.85em;
  }

  li {
    margin: 10px;
  }
}

@media (max-width: 420px) {
  li {
    margin: 5px;
  }
  .divTooltipInstructions {
    width: 300px;
    height: 325px;
    font-size: 0.75em;
  }
}
