@import url("https://fonts.googleapis.com/css2?family=Gidugu&family=Michroma&display=swap");

@font-face {
  font-family: "DSEG7 Classic";
  src: url(https://manzdev.github.io/twitch-casio/dseg7-bold.woff2)
      format("woff2"),
    url(https://manzdev.github.io/twitch-casio/dseg7-bold.woff) format("woff");
  font-display: swap;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 700px;
  margin: 25px;
}

.scoreboardNumber {
  font-family: "DSEG7 Classic";
}

.scoreboardPlayer1 {
  color: #f94744;
}

.scoreboardPlayer2 {
  color: #04bdde;
}

.player1Color {
  background-color: #f94744;
}

.player2Color {
  background-color: #04bdde;
}

.visible {
  visibility: visible;
}

.visibilityHidden {
  visibility: hidden;
}

.tableScoreboard {
  display: flex;
  flex-direction: column;
  background-color: grey;

  border-radius: 5px;
  padding: 5px;
}

.tableAction {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
}

.versusCell {
  padding: 0 15px;
}

.divChoice {
  display: flex;
  justify-content: space-around;
}

.button {
  margin: 5px;
  padding: 5px;
}

@media (max-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 400px;
    margin: 15px;
  }

  .table {
    padding: 0px;

    font-size: 0.5em;
  }

  .button {
    margin: 1px;
  }
}
